@tailwind base;
@tailwind components;
@tailwind utilities;

@import "node_modules/normalize.css/normalize.css";

body {
  color: white;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: #643a7a;
  font-family: 'nunito', sans-serif;
}
